<div class="container mx-auto px-4 sm:px-6 lg:px-8 my-10">
  <div class="max-w-md mx-auto bg-white p-8 shadow-lg rounded-lg">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
      </div>

      <div class="actions my-4 text-center bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-md">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>